*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 253, 253);
}
.bg-custom{
    background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);


}

.custom_font{
    font-weight: bolder;
}
.col1{
    width: 15%;
    float: left;
}
.col2{
    float: left;
    width: 65%;
}
.col3{
    float: right;
    width: 20%;
}
.news_image{
    float: left;
}
.news{
    margin-top: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.post_image{
    margin: 5px;
    height: 180px;
    margin-right: 10px;
    width: 200px;
}
.custom_link{
    text-decoration: none;
    color: black;
}
.custom-icon{
    color: #114B76;
}
.post_details{
    display: flex;
}
.details{
    margin-left: 20px;
}
.custom_cat{
    border-top: none;
    border-bottom: 1px solid grey;
    background-color: white;
    border-left: none;
    border-right: none;
    padding: 7px;
    font-weight: bolder;
}
.desc_post{
    height: 67px;
    
    overflow: hidden;
}
.custom_btn{
    margin-top: 0;
    margin-bottom: 1rem;
}
.recent_p{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    
}
footer{
    content: '';
    clear: both;
    margin-bottom: -15px;
}

@media only screen and (max-width: 800px) {
    .col1, .col2, .col3{
        width: 100%;
    }
    .col3{
        display: none;
    }

    .post_image{
       margin-left: 20px;
        
        height: 180px;
        width: 80%;
        overflow: hidden;
    }
    .news{
        margin: 8px;
    }
    .post_title{
        margin: 8px;
    }
    .post_details{
        margin: 8px;
    }
    .post_desc{
        margin: 8px;
    }
    .read_more{
        margin: 8px;
    }
}